# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Secrets & Environment variables
.env


# Logs
*.log

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/
