[Unit]
Description=FarLink Edge & Go Agent Service (Raspberry Pi 5)
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=simple
User=farlink
WorkingDirectory=/home/farlink/python
ExecStart=/usr/bin/python3 -m app.main
Restart=always
RestartSec=3s
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
